# Assignment 3 - Visualization

In this assignment, you work in the groups you already are divided into. you need to define at least one task based on each of the exercises 2, 3 and 9. All together three tasks. You have to apply the tasks on the same dataset that you used in Assignment 1 and 2. 

You will hand in the assignment through a Jupyter notebook, along with your environment and the dataset you picked, both zipped together and submitted as one file. Please name your file so that it contains your group number. It is important that you clearly state the tasks you are performing on the dataset as questions or something similar in the notebook before you do the operations on the data. Also make sure to document your solutions and your thinking so that it can easily be followed. If you fail to do these things you may not pass this assignment.

The deadline of this assignment is on May 10, 2025 to get bonus points, or before the exam (in which case no bonus points are awarded).

Re-submission 1 is by the end of week 33, 2025.

Re-submission 2 is by the end of week 2, 2026.

## Exercise 2 task:
- Data cleaning
- Plotting data distributions
- Plotting relationships between variables
- Plotting categorical data
- Plotting time series data

- - - 
## Imports and get data

In [85]:
try:
    from rich import load_ipython_extension
    %load_ext rich
except ImportError:
    try:
        from rich import pretty
        pretty.install()
    except ImportError:
        pass

In [86]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [87]:
df = pd.read_csv(
    "../Total air emissions by greenhouse gas.csv",
    na_values=['..']
    )
df

,greenhouse gas,sector,1990,1991,1992,1993,1994,1995,1996,1997,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, excluding in...",71203.3,71338.8,71022.5,71242.7,73749.3,73135.2,77030.2,72145.4,...,53481.9,53283.7,53198.3,52294.3,51434.3,50196.4,45981.9,47721.8,45215.4,44386.0
1,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, including in...",74942.3,75103.8,74935.1,75408.3,78554.0,78019.4,82142.9,78075.2,...,61492.3,61348.7,62200.6,62518.3,60125.1,60011.4,55346.9,56335.5,54146.8,51956.4
2,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, excluding in...",11863.2,12988.4,13579.8,17635.4,18592.5,17858.9,19616.0,13375.8,...,-4299.4,-2033.0,756.6,5922.3,11653.5,10429.0,6630.6,11055.3,11601.4,13162.4
3,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, including in...",15602.2,16753.4,17492.4,21801.0,23397.2,22743.1,24728.6,19305.6,...,3710.9,6032.1,9758.9,16146.3,20344.3,20244.0,15995.5,19669.1,20532.8,20732.8
4,Total Greenhouse Gases (kt CO2-eqv.),"OFF-ROAD VEHICLES AND OTHER MACHINERY, TOTAL",3682.5,3773.5,4176.6,3930.2,3962.2,3747.9,3605.7,3636.9,...,2971.8,2990.7,2791.1,2760.0,2659.3,2823.8,2828.2,2889.0,2592.0,2705.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"INTERNATIONAL TRANSPORT, TOTAL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"AGRICULTURE, TOTAL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"SOLVENT USE AND OTHER PRODUCT USE, TOTAL",81.4,81.6,81.4,78.1,82.2,111.0,87.5,121.3,...,31.1,37.0,38.8,34.0,34.0,35.3,38.2,39.6,38.6,38.0
152,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"HEATING OF HOUSES AND PREMISES, TOTAL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"LAND-USE, LAND-USE CHANGE AND FORESTRY (LULUCF...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning
There is a lot of missing values and different units of measure. We should get rid of the columns with missing values and get some insight on the data. Pivoting it and using greenhouse gas + sector as column might be a good idea.

In [88]:
print(df.isna().sum())

greenhouse gas     0
sector             0
1990              42
1991              41
1992              41
1993              41
1994              41
1995              40
1996              40
1997              40
1998              39
1999              39
2000              39
2001              39
2002              39
2003              38
2004              38
2005              39
2006              39
2007              39
2008              39
2009              39
2010              39
2011              39
2012              38
2013              38
2014              39
2015              39
2016              39
2017              38
2018              39
2019              39
2020              40
2021              40
2022              40
2023              40
dtype: int64

In [89]:
df.dropna()

,greenhouse gas,sector,1990,1991,1992,1993,1994,1995,1996,1997,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, excluding in...",71203.3,71338.8,71022.5,71242.7,73749.3,73135.2,77030.2,72145.4,...,53481.9,53283.7,53198.3,52294.3,51434.3,50196.4,45981.9,47721.8,45215.4,44386.0
1,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, including in...",74942.3,75103.8,74935.1,75408.3,78554.0,78019.4,82142.9,78075.2,...,61492.3,61348.7,62200.6,62518.3,60125.1,60011.4,55346.9,56335.5,54146.8,51956.4
2,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, excluding in...",11863.2,12988.4,13579.8,17635.4,18592.5,17858.9,19616.0,13375.8,...,-4299.4,-2033.0,756.6,5922.3,11653.5,10429.0,6630.6,11055.3,11601.4,13162.4
3,Total Greenhouse Gases (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, including in...",15602.2,16753.4,17492.4,21801.0,23397.2,22743.1,24728.6,19305.6,...,3710.9,6032.1,9758.9,16146.3,20344.3,20244.0,15995.5,19669.1,20532.8,20732.8
4,Total Greenhouse Gases (kt CO2-eqv.),"OFF-ROAD VEHICLES AND OTHER MACHINERY, TOTAL",3682.5,3773.5,4176.6,3930.2,3962.2,3747.9,3605.7,3636.9,...,2971.8,2990.7,2791.1,2760.0,2659.3,2823.8,2828.2,2889.0,2592.0,2705.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, excluding in...",104.9,105.8,105.7,102.4,109.6,139.3,120.5,164.5,...,47.3,54.8,59.2,47.2,34.0,35.3,38.2,39.6,38.6,38.0
141,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"NATIONAL TOTAL (excluding LULUCF, including in...",104.9,105.8,105.7,102.4,109.6,139.3,120.5,164.5,...,47.3,54.8,59.2,47.2,34.0,35.3,38.2,39.6,38.6,38.0
142,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, excluding in...",104.9,105.8,105.7,102.4,109.6,139.3,120.5,164.5,...,47.3,54.8,59.2,47.2,34.0,35.3,38.2,39.6,38.6,38.0
143,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"NATIONAL TOTAL (including LULUCF, including in...",104.9,105.8,105.7,102.4,109.6,139.3,120.5,164.5,...,47.3,54.8,59.2,47.2,34.0,35.3,38.2,39.6,38.6,38.0
151,Sulphur Hexafluoride (SF6) (kt CO2-eqv.),"SOLVENT USE AND OTHER PRODUCT USE, TOTAL",81.4,81.6,81.4,78.1,82.2,111.0,87.5,121.3,...,31.1,37.0,38.8,34.0,34.0,35.3,38.2,39.6,38.6,38.0

We lost 44 rows which is 28% of our dataset so maybe we should just deal with it cause there is too much missing data.

As there is different unit by row .describe() would be meaningless so let's transpose the dataframe.

In [90]:
df['new_column'] = df['greenhouse gas'] + ' - ' + df['sector']
df = df.drop(columns=['greenhouse gas', 'sector'])

In [ ]:
# Transpose the DataFrame
df_t = df.T

# Set tnew columns
df_t.columns = df_t.iloc[-1]
df_t = df_t[:-1]
df_t

new_column,"Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, excluding international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, including international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, excluding international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, including international transports)","Total Greenhouse Gases (kt CO2-eqv.) - OFF-ROAD VEHICLES AND OTHER MACHINERY, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - WASTE, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - ELECTRICITY AND DISTRICT HEATING, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - INDUSTRY, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - DOMESTIC TRANSPORT, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - INTERNATIONAL TRANSPORT, TOTAL",...,"Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - OFF-ROAD VEHICLES AND OTHER MACHINERY, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - WASTE, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - ELECTRICITY AND DISTRICT HEATING, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - INDUSTRY, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - DOMESTIC TRANSPORT, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - INTERNATIONAL TRANSPORT, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - AGRICULTURE, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - SOLVENT USE AND OTHER PRODUCT USE, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - HEATING OF HOUSES AND PREMISES, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - LAND-USE, LAND-USE CHANGE AND FORESTRY (LULUCF), TOTAL"
1990,71203.3,74942.3,11863.2,15602.2,3682.5,4275.1,6414.3,20635.6,19319.7,3739.0,...,NaN,NaN,NaN,23.5,NaN,NaN,NaN,81.4,NaN,NaN
1991,71338.8,75103.8,12988.4,16753.4,3773.5,4348.1,7383.4,20329.4,19183.7,3765.0,...,NaN,NaN,NaN,24.3,NaN,NaN,NaN,81.6,NaN,NaN
1992,71022.5,74935.1,13579.8,17492.4,4176.6,4361.5,7863.7,19006.7,20092.2,3912.6,...,NaN,NaN,NaN,24.3,NaN,NaN,NaN,81.4,NaN,NaN
1993,71242.7,75408.3,17635.4,21801.0,3930.2,4227.9,7750.7,20169.9,19324.1,4165.6,...,NaN,NaN,NaN,24.3,NaN,NaN,NaN,78.1,NaN,NaN
1994,73749.3,78554.0,18592.5,23397.2,3962.2,4081.4,8352.7,21428.9,19942.4,4804.7,...,NaN,NaN,NaN,27.4,NaN,NaN,NaN,82.2,NaN,NaN
1995,73135.2,78019.4,17858.9,22743.1,3747.9,4074.9,7500.4,22220.4,20032.4,4884.2,...,NaN,NaN,NaN,28.3,NaN,NaN,NaN,111.0,NaN,NaN
1996,77030.2,82142.9,19616.0,24728.6,3605.7,4046.2,11571.6,22260.0,19789.1,5112.7,...,NaN,NaN,NaN,33.0,NaN,NaN,NaN,87.5,NaN,NaN
1997,72145.4,78075.2,13375.8,19305.6,3636.9,4008.9,7108.4,22302.6,19869.9,5929.8,...,NaN,NaN,NaN,43.2,NaN,NaN,NaN,121.3,NaN,NaN
1998,72526.6,79334.1,13129.6,19937.0,3618.2,3950.6,7892.8,22042.0,19979.2,6807.4,...,NaN,NaN,NaN,39.2,NaN,NaN,NaN,75.4,NaN,NaN
1999,69370.9,76342.5,9671.7,16643.3,3431.0,3804.3,6183.3,21071.3,20314.6,6971.6,...,NaN,NaN,NaN,39.2,NaN,NaN,NaN,85.7,NaN,NaN
2000,68131.8,75005.4,7135.6,14009.2,3249.3,3698.2,4908.1,21571.6,20163.1,6873.6,...,NaN,NaN,NaN,53.3,NaN,NaN,NaN,69.1,NaN,NaN
2001,68886.2,75591.9,6970.9,13676.5,3122.5,3642.1,5740.1,22337.1,20286.7,6705.7,...,NaN,NaN,NaN,57.4,NaN,NaN,NaN,69.2,NaN,NaN
2002,69501.1,75361.1,7929.0,13789.1,3294.5,3446.5,6754.3,22073.7,20734.5,5860.0,...,NaN,NaN,NaN,66.6,NaN,NaN,NaN,56.6,NaN,NaN
2003,69812.4,77114.0,9936.4,17238.0,3315.2,3299.4,7750.9,21673.9,20944.5,7301.6,...,NaN,NaN,NaN,36.6,NaN,NaN,NaN,51.2,NaN,NaN
2004,69132.8,77559.7,12551.2,20978.0,3333.4,3281.3,6698.4,21810.2,21299.8,8426.9,...,NaN,NaN,NaN,40.8,NaN,NaN,NaN,56.8,NaN,NaN
2005,66251.5,74960.6,8013.7,16722.8,3331.0,3124.9,5787.7,21058.0,21571.4,8709.1,...,NaN,NaN,NaN,98.2,NaN,NaN,NaN,58.1,NaN,NaN
2006,65901.0,75120.3,3068.8,12288.1,3314.2,3018.3,5871.1,21564.4,21523.2,9219.2,...,NaN,NaN,NaN,75.6,NaN,NaN,NaN,40.4,NaN,NaN
2007,64741.8,74083.1,1013.3,10354.6,3250.3,2818.8,5699.9,20781.2,21799.4,9341.3,...,NaN,NaN,NaN,111.3,NaN,NaN,NaN,30.3,NaN,NaN
2008,62344.5,71747.4,677.5,10080.4,3172.6,2523.1,5337.9,20008.8,21338.5,9402.9,...,NaN,NaN,NaN,47.0,NaN,NaN,NaN,28.1,NaN,NaN
2009,58122.7,67599.6,-2971.4,6505.6,3241.6,2413.7,6519.9,15666.4,20843.2,9477.0,...,NaN,NaN,NaN,28.7,NaN,NaN,NaN,43.4,NaN,NaN
2010,64123.2,73220.4,2322.2,11419.3,3279.1,2281.6,8527.4,19294.4,21026.1,9097.1,...,NaN,NaN,NaN,33.7,NaN,NaN,NaN,31.7,NaN,NaN
2011,59742.6,67896.4,-1186.7,6967.0,3252.2,2165.4,6282.3,18155.1,20655.2,8153.7,...,NaN,NaN,NaN,25.8,NaN,NaN,NaN,31.3,NaN,NaN
2012,56829.5,64623.9,-2295.3,5499.1,3163.7,2022.4,5670.6,17443.3,19503.5,7794.4,...,NaN,NaN,NaN,25.2,NaN,NaN,NaN,29.6,NaN,NaN
2013,55209.9,62753.1,-3807.6,3735.7,3080.5,1899.2,5556.0,16621.3,19083.5,7543.3,...,NaN,NaN,NaN,11.5,NaN,NaN,NaN,31.8,NaN,NaN
2014,53481.9,61492.3,-4299.4,3710.9,2971.8,1761.5,4392.2,16683.5,18664.9,8010.4,...,NaN,NaN,NaN,16.2,NaN,NaN,NaN,31.1,NaN,NaN
2015,53283.7,61348.7,-2033.0,6032.1,2990.7,1639.3,4562.5,16415.4,18752.1,8065.1,...,NaN,NaN,NaN,17.8,NaN,NaN,NaN,37.0,NaN,NaN
2016,53198.3,62200.6,756.6,9758.9,2791.1,1558.2,4941.7,16957.5,18088.9,9002.3,...,NaN,NaN,NaN,20.4,NaN,NaN,NaN,38.8,NaN,NaN
2017,52294.3,62518.3,5922.3,16146.3,2760.0,1496.4,4417.0,16986.6,17693.9,10224.0,...,NaN,NaN,NaN,13.2,NaN,NaN,NaN,34.0,NaN,NaN
2018,51434.3,60125.1,11653.5,20344.3,2659.3,1398.7,4844.1,16995.5,17002.8,8690.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,NaN
2019,50196.4,60011.4,10429.0,20244.0,2823.8,1295.4,4421.0,16334.4,16874.1,9814.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.3,NaN,NaN
2020,45981.9,55346.9,6630.6,15995.5,2828.2,1232.7,3384.3,14643.5,15474.9,9364.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.2,NaN,NaN
2021,47721.8,56335.5,11055.3,19669.1,2889.0,1156.0,4072.1,15772.6,15478.9,8613.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.6,NaN,NaN
2022,45215.4,54146.8,11601.4,20532.8,2592.0,1103.0,3998.2,15229.8,13951.4,8931.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.6,NaN,NaN
2023,44386.0,51956.4,13162.4,20732.8,2705.9,1055.6,3800.7,14786.6,13855.6,7570.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,NaN,NaN

In [93]:
df_t = df_t.dropna(axis=1)

# Convert all columns to numeric values
df_t_n = df_t.apply(pd.to_numeric, errors='coerce')

df_t_n.describe()

new_column,"Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, excluding international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, including international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, excluding international transports)","Total Greenhouse Gases (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, including international transports)","Total Greenhouse Gases (kt CO2-eqv.) - OFF-ROAD VEHICLES AND OTHER MACHINERY, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - WASTE, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - ELECTRICITY AND DISTRICT HEATING, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - INDUSTRY, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - DOMESTIC TRANSPORT, TOTAL","Total Greenhouse Gases (kt CO2-eqv.) - INTERNATIONAL TRANSPORT, TOTAL",...,"Sulphur Hexafluoride (SF6) (kg) - NATIONAL TOTAL (excluding LULUCF, excluding international transports)","Sulphur Hexafluoride (SF6) (kg) - NATIONAL TOTAL (excluding LULUCF, including international transports)","Sulphur Hexafluoride (SF6) (kg) - NATIONAL TOTAL (including LULUCF, excluding international transports)","Sulphur Hexafluoride (SF6) (kg) - NATIONAL TOTAL (including LULUCF, including international transports)","Sulphur Hexafluoride (SF6) (kg) - SOLVENT USE AND OTHER PRODUCT USE, TOTAL","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, excluding international transports)","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - NATIONAL TOTAL (excluding LULUCF, including international transports)","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, excluding international transports)","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - NATIONAL TOTAL (including LULUCF, including international transports)","Sulphur Hexafluoride (SF6) (kt CO2-eqv.) - SOLVENT USE AND OTHER PRODUCT USE, TOTAL"
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,...,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,62314.408824,69734.602941,7721.988235,15142.173529,3264.017647,2779.723529,6116.461765,19186.223529,19248.747059,7420.185294,...,3709.567647,3709.567647,3709.567647,3709.567647,2350.105882,87.167647,87.167647,87.167647,87.167647,55.229412
std,9702.523271,8499.866440,6914.483553,5961.055853,397.786414,1148.233100,1708.816072,2616.844804,2097.760430,1920.529649,...,1676.092673,1676.092673,1676.092673,1676.092673,1079.108703,39.383212,39.383212,39.383212,39.383212,25.360749
min,44386.000000,51956.400000,-4299.400000,3710.900000,2592.000000,1055.600000,3384.300000,14643.500000,13855.600000,3739.000000,...,1446.600000,1446.600000,1446.600000,1446.600000,1194.000000,34.000000,34.000000,34.000000,34.000000,28.100000
25%,53333.250000,62280.025000,1340.525000,10620.775000,2976.525000,1669.850000,4860.100000,16752.000000,18686.700000,6123.775000,...,2091.725000,2091.725000,2091.725000,2091.725000,1460.625000,49.175000,49.175000,49.175000,49.175000,34.325000
50%,65321.400000,74509.100000,8842.700000,16394.800000,3251.250000,2918.550000,5829.400000,20089.350000,19906.150000,7902.400000,...,3943.350000,3943.350000,3943.350000,3943.350000,1784.700000,92.650000,92.650000,92.650000,92.650000,41.900000
75%,70719.975000,75546.000000,12879.100000,20167.250000,3562.025000,3914.025000,7314.650000,21569.800000,20714.675000,8984.575000,...,5079.625000,5079.625000,5079.625000,5079.625000,3294.650000,119.400000,119.400000,119.400000,119.400000,77.425000
max,77030.200000,82142.900000,19616.000000,24728.600000,4176.600000,4361.500000,11571.600000,22337.100000,21799.400000,10224.000000,...,6999.800000,6999.800000,6999.800000,6999.800000,5160.700000,164.500000,164.500000,164.500000,164.500000,121.300000